0:소스번호+:int
1:소스종류+:string
2:유입날짜+:string
3:유입시간+:string
4:일반전화+:string
5:휴대전화+:string
6:이름+:string
7:성별+:string
8:나이+:string
9:이메일+:string
10:주소+:string
11:문의내용+:string
12:담당자+:string
13:요망날짜+:string
14:요망시간+:string
15:마감날짜:string
16:비고:string
17:소스상태+:string
18:오더일자:string
19:기수:string
20:급수:string
21:과목수:string
22:할인율:string
23:등록금:string
24:교재상태+:string
25:결제상태+:string
26:결제방법:string
27:카드종류:string
28:카드번호:string
29:유효기간월:string
30:유효기간년:string
31:할부개월:string
32:은행명:string
33:현금영수증발급:string
34:카드전표발급:string
35:승인번호:string